@model IEnumerable<FormApplication.Models.SpouseModel>

@{
    ViewBag.Title = "NoSpouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>No Spouse</h2>

<p>
    Please Kindly Check Again
</p>
<table class="table">


</table>
