@model FormApplication.Models.FullFormModel
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hey There!</h2> 
<p><h2>Your Form Has Been Submitted Succesfully, Thanks.</h2></p>
<div>
    @Html.ActionLink("Back Home", "Home")
</div>
