@model FormApplication.Models.FullFormModel

@{
    ViewBag.Title = "ViewOccupantChanges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Occupant Changes</h2>

<div>
    <h4><b>Occupant Successfully Updated</b></h4>
    <p>@Model.Fullname Your details have been changed successfully.</p>
    <hr />
   
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
